.app.dark {
  --bg-color: #2e2e2e;
  --bg-inverted-color: #ffffff;

  --primary-color: #ffffff;
  --secondary-color: #ffffff;

  --inverted-primary-color: #131313;
  --inverted-secondary-color: #2e2e2e;
}