.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  width: 100%;
  height: var(--header-height);
  background: var(--bg-inverted-color);
  padding: 8px 16px;
  color: var(--primary-color);
}

.list {
  display: flex;
  column-gap: 16px;
  align-items: center;
}